html, body{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content{
    flex: 1;
}

.footer {
    background: linear-gradient(90deg, rgb(219, 231, 254) 0%, rgb(0, 85, 255) 100%);
}

#btn{
    width: auto;
    height: auto;
    font-weight: bold;
    background: rgb(156, 191, 255);
    font-size: 18px;
    color: white;
    border: 0;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(185, 185, 185);
    text-decoration: none;
}
#btn:hover {
    background: rgb(0, 85, 255);
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#githubBtn {
    width: auto;
    height: auto;
    font-weight: bold;
    background: rgb(156, 191, 255);
    font-size: 18px;
    color: white;
    border: 0;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(185, 185, 185);
    text-decoration: none;
}
#githubBtn:hover {
    background: #0066ff;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#githubBtn a {
    /* Estilos para el enlace dentro del botón */
    text-decoration: none;
    color: inherit;
}

#project {
    /* Estilos base de la tarjeta */
    border-radius: 15px;
    transition: transform 0.3s, background-color 0.3s; /* Agregar transición suave */

    /* Otros estilos de la tarjeta */
}

#project:hover {
    background: rgb(243, 243, 243); /* Cambiar el color de fondo al pasar el mouse */
    transform: scale(1.05); /* Escalar ligeramente la tarjeta al pasar el mouse */
}

.division{
    margin: auto;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 100px;
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.navbar-nav .nav-item .nav-link {
    padding: 10px 20px; /* Añadir espaciado interno para hacer los enlaces más grandes */
    color: white; /* Cambiar el color del texto a blanco */
    font-weight: bold; /* Hacer el texto más grueso */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    transition: background-color 0.3s, color 0.3s; /* Agregar transición suave */
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #0066ff; /* Cambiar el color de fondo al pasar el mouse */
    color: #ffffff; /* Cambiar el color del texto al pasar el mouse */
    border-radius: 5px; /* Redondear ligeramente los bordes */
}

.container-img{
    margin-top: 15px;
    text-align: center;
}

.image{
    border-radius: 15px;
}

.navbar{
    background: linear-gradient(90deg, rgb(0, 85, 255) 0%, rgb(219, 231, 254) 100%);
}